---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [158]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [159]:
dataframe=pd.DataFrame(df,columns=['text'])
dataframe.head()

                                                text
0       03/25/93 Total time of visit (in minutes):\n
1                     6/18/85 Primary Care Doctor:\n
2  sshe plans to move as of 7/8/71 In-Home Servic...
3              7 on 9/27/75 Audit C Score Current:\n
4  2/6/96 sleep studyPain Treatment Pain Level (N...

In [209]:
type1_1=dataframe['text'].str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{2})\b')
type1_2=dataframe['text'].str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{4})\b')
type1=pd.concat([type1_1,type1_2])
type1.reset_index(inplace=True)
type1_index=type1['level_0']
#type1_index
type1.columns=['level_0','match','month','day','year']
type1['year']=type1['year'].apply(str)
type1['year']=type1['year'].apply(lambda x: '19'+x if len(x)<=2 else x)
type1

     level_0  match month day  year
0          0      0    03  25  1993
1          1      0     6  18  1985
2          2      0     7   8  1971
3          3      0     9  27  1975
4          4      0     2   6  1996
5          5      0     7  06  1979
6          6      0     5  18  1978
7          7      0    10  24  1989
8          8      0     3   7  1986
9          9      0     4  10  1971
10        10      0     5  11  1985
11        11      0     4  09  1975
12        12      0     8  01  1998
13        13      0     1  26  1972
14        16      0     4  12  1982
15        18      0     4  24  1998
16        19      0     5  21  1977
17        20      0     7  21  1998
18        21      0    10  21  1979
19        22      0     3  03  1990
20        23      0     2  11  1976
21        25      0     4  13  1982
22        26      0     9  22  1989
23        27      0     9  02  1976
24        28      0     9  12  1971
25        29      0    10  24  1986
26        31      0     7  20  1972
27        32      0     4  12  1987
28        33      0    06  20  1991
29        35      0     3  15  1983
..       ...    ...   ...  ..   ...
95       120      0    12  22  1998
96       121      0    10  02  1996
97       122      0    11  05  1990
98       123      0     5  04  1977
99       124      0     2  27  1996
100       14      0     5  24  1990
101       15      0     1  25  2011
102       17      0    10  13  1976
103       24      0    07  25  1984
104       30      0    03  31  1985
105       34      0     5  12  2012
106       38      0     7  27  1986
107       43      0     4  13  2002
108       45      0     2  15  1998
109       55      0    10  11  1987
110       58      0    12   5  2010
111       59      0    08  20  1982
112       64      0    07  29  1994
113       69      0    11   3  1985
114       77      0    01  05  1999
115       82      0     7  07  1974
116       83      0    09  14  2000
117       85      0     8  09  1981
118       92      0    04  08  2004
119       94      0    12  08  1990
120       95      0     4  11  1974
121      102      0    07  18  2002
122      106      0     2  11  2006
123      109      0     7  20  2011
124      118      0     4  27  2006

[125 rows x 5 columns]

In [210]:
import re
txt='6/2008; 12/2009; 2009; 2010'

In [211]:
re.findall(r'\d{,2}[/]?\d{4}',txt)

['6/2008', '12/2009', '2009', '2010']

In [212]:
type2=dataframe['text'].str.extractall(r'((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.]* )(\d{1,2})[?:, -]*(\d{4})')
type2.reset_index(inplace=True)
type2_index=type2['level_0']
type2_index_to_keep=[]
for index in type2_index:
    if index not in type1_index:
        type2_index_to_keep.append(index)
type2_to_keep=type2[type2['level_0'].isin(type2_index_to_keep)]
type2_to_keep.columns=['level_0','match','month','day','year']
type2_to_keep['month']=type2_to_keep.month.apply(lambda x: x[:3])
type2_to_keep['month']=pd.to_datetime(type2_to_keep.month, format='%b').dt.month
type2_to_keep

    level_0  match  month day  year
0       194      0      4  11  1990
1       195      0      5  30  2001
2       196      0      2  18  1994
3       197      0      2  18  1981
4       198      0     10  11  2013
5       199      0      1  24  1986
6       200      0      7  26  1978
7       201      0     12  23  1999
8       202      0      5  15  1989
9       203      0      9  06  1995
10      204      0      3  10  1976
11      205      0      1  27  1983
12      206      0     10  23  1990
13      207      0      8  12  2004
14      208      0      9  01  2012
15      209      0      7  25  1983
16      210      0      8  11  1989
17      211      0      4  17  1992
18      212      0      7  24  1999
19      213      0      7  11  1997
20      214      0      9  10  1974
21      215      0      8  14  1981
22      216      0     11  11  1988
23      217      0      6  13  2011
24      218      0      5  14  1989
25      219      0     12  14  1975
26      220      0      6  25  2012
27      221      0     10  18  1980
28      222      0      5  15  1998
29      223      0     10  14  1974
30      224      0      7  25  1998
31      225      0      6  15  1972
32      226      0      1  07  1991
33      227      0      9  15  2011

In [213]:
type3=dataframe['text'].str.extractall(r'((?:\d{1,2} ))?((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[?:, -]* )(\d{4})')
type3.reset_index(inplace=True)
type3_index=type3['level_0']
type3_index_to_keep=[]
for index in type3_index:
    if (index not in type2_index_to_keep) and (index not in type1_index):
        type3_index_to_keep.append(index)
type3_to_keep=type3[type3['level_0'].isin(type3_index_to_keep)]
type3_to_keep.columns=['level_0','match','day','month','year']
type3_to_keep['day']=type3_to_keep['day'].fillna(1)
type3_to_keep['month']=type3_to_keep.month.apply(lambda x: x[:3])
type3_to_keep['month']=pd.to_datetime(type3_to_keep.month, format='%b').dt.month
type3_to_keep

     level_0  match  day  month  year
0        125      0  24       1  2001
1        126      0  10       9  2004
2        127      0  26       5  1982
3        128      0  28       6  2002
4        129      0  06       5  1972
5        130      0  25      10  1987
6        131      0  14      10  1996
7        132      0  30      11  2007
8        133      0  28       6  1994
9        134      0  14       1  1981
10       135      0  10      10  1985
11       136      0  11       2  1985
12       137      0  10       2  1983
13       138      0  05       2  1992
14       139      0  21      10  2012
15       140      0  14       2  1995
16       141      0  30       5  2016
17       142      0  22       1  1996
18       143      0  14      10  1992
19       144      0  06      10  2003
20       145      0  18      10  1999
21       146      0  11      11  2004
22       147      0  30       5  2001
23       148      0  02       2  1978
24       149      0  09       9  1989
25       150      0  12       3  1980
26       151      0  22       6  1990
27       152      0  28       9  2015
28       153      0  13       1  1972
29       154      0  06       3  1974
..       ...    ...  ...    ...   ...
154      313      0    1     12  1978
155      314      0    1      1  2007
156      315      0    1      6  1976
157      316      0    1      5  2011
158      317      0    1      3  1975
159      318      0    1      1  1978
160      319      0    1      7  1975
161      320      0    1     11  2012
162      321      0    1      6  1999
163      322      0    1     10  1991
164      323      0    1      3  1973
165      324      0    1     10  1996
166      325      0    1      6  2007
167      326      0    1     10  1995
168      327      0    1      4  1999
169      328      0    1      5  2001
170      329      0    1      3  2000
171      330      0    1      4  1988
172      331      0    1     12  1993
173      332      0    1      6  1974
174      333      0    1     11  1997
175      334      0    1      7  1986
176      335      0    1      2  1973
177      336      0    1      3  1978
178      337      0    1     12  2007
179      338      0    1      4  1998
180      339      0    1      3  2005
181      340      0    1      5  1980
182      341      0    1     11  2007
183      342      0    1      3  1976

[184 rows x 5 columns]

In [214]:
#type4=dataframe['text'].str.extractall(r'((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[ ](\d{,2}[a-z]+[,])[ ](\d{4})')
#type4=dataframe['text'].str.extractall(r'((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z] )((?:\d{1,2}(?:st|nd|rd|th), )\d{4})')
#type4.reset_index(inplace=True)
#type4.reset_index(inplace=True)
#type4

In [215]:
#type5=dataframe['text'].str.extractall(r'[^0-9][ ]((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[ ](\d{4})')
#type5=pd.DataFrame(type5)
#type5.reset_index(inplace=True)
#type5

In [216]:
type6=dataframe['text'].str.extractall(r'(\d{1,2})[/](\d{4})')
#type6=pd.DataFrame(type6)
type6.reset_index(inplace=True)
type6_index=type6['level_0']
type6_index_to_keep=[]
for index in type6_index:
    if (index not in type1_index) and (index not in type2_index_to_keep) and (index not in type3_index_to_keep):
        type6_index_to_keep.append(index)
type6_to_keep=type6[type6['level_0'].isin(type6_index_to_keep)]
type6_to_keep.columns=['level_0','match','month','year']
type6_to_keep['day']=1
type6_to_keep

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     level_0  match month  year  day
25       343      0     6  1998    1
26       344      0     6  2005    1
27       345      0    10  1973    1
28       346      0     9  2005    1
29       347      0    03  1980    1
30       348      0    12  2005    1
31       349      0     5  1987    1
32       350      0     5  2004    1
33       351      0     8  1974    1
34       352      0     3  1986    1
35       353      0    10  1997    1
36       354      0     3  1993    1
37       355      0     3  1981    1
38       356      0     9  2003    1
39       357      0    10  1993    1
40       358      0     1  1983    1
41       359      0     7  1994    1
42       360      0    12  2008    1
43       361      0    10  1980    1
44       362      0     8  2003    1
45       363      0    12  1975    1
46       364      0    11  2010    1
47       365      0     7  1997    1
48       366      0     7  2014    1
49       367      0     9  2001    1
50       368      0     8  1986    1
51       369      0     1  1978    1
52       370      0     9  1975    1
53       371      0     1  2009    1
54       372      0     5  1995    1
..       ...    ...   ...   ...  ...
107      425      0     7  2004    1
108      426      0    11  1984    1
109      427      0     5  2016    1
110      428      0    12  2007    1
111      429      0    11  1982    1
112      430      0    06  1981    1
113      431      0     4  2013    1
114      432      0     4  1999    1
115      433      0     5  2006    1
116      434      0    10  1978    1
117      435      0    12  1989    1
118      436      0     2  1974    1
119      437      0    11  1986    1
120      438      0     4  1983    1
121      439      0    10  2014    1
122      440      0     6  1989    1
123      441      0     9  1980    1
124      442      0     9  1992    1
125      443      0     9  2000    1
126      444      0     7  1981    1
127      445      0     1  2008    1
128      446      0     4  2002    1
129      447      0     7  1985    1
130      448      0     5  2010    1
131      449      0     8  2002    1
132      450      0     1  1994    1
133      451      0    12  2004    1
134      452      0     3  2003    1
135      453      0     7  1991    1
136      454      0     7  1982    1

[112 rows x 5 columns]

In [217]:
type7_1=dataframe['text'].str.extractall(r'[a-z]?[^0-9](\d{4})[^0-9]')
type7_2=dataframe['text'].str.extractall(r'^(\d{4})[^0-9]')
type7=pd.concat([type7_1,type7_2])
type7.reset_index(inplace=True)
type7_index=type7['level_0']
type7_index_to_keep=[]
for index in type7_index:
    if (index not in type1_index) and (index not in type2_index_to_keep) and (index not in type3_index_to_keep) and (index not in type6_index_to_keep):
        type7_index_to_keep.append(index)
type7_to_keep=type7[type7['level_0'].isin(type7_index_to_keep)]
type7_to_keep.columns=['level_0','match','year']
type7_to_keep['day']=1
type7_to_keep['month']=1
type7_to_keep

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     level_0  match  year  day  month
356      455      0  1984    1      1
357      456      0  2000    1      1
358      457      0  2001    1      1
359      458      0  1982    1      1
360      459      0  1998    1      1
361      460      0  2012    1      1
362      461      0  1991    1      1
363      462      0  1988    1      1
364      463      0  2014    1      1
365      464      0  2016    1      1
366      465      0  1976    1      1
367      466      0  1981    1      1
368      467      0  2011    1      1
369      468      0  1997    1      1
370      469      0  2003    1      1
371      470      0  1983    1      1
372      471      0  1999    1      1
373      472      0  2010    1      1
374      473      0  1975    1      1
375      474      0  1972    1      1
376      475      0  2015    1      1
377      477      0  1994    1      1
378      478      0  1993    1      1
379      479      0  1996    1      1
380      480      0  2013    1      1
381      481      0  1974    1      1
382      482      0  1990    1      1
383      483      0  1995    1      1
384      484      0  2004    1      1
385      485      0  1987    1      1
386      486      0  1973    1      1
387      487      0  1992    1      1
388      488      0  1977    1      1
389      489      0  1985    1      1
390      490      0  2007    1      1
391      491      0  2009    1      1
392      492      0  1986    1      1
393      493      0  1978    1      1
394      494      0  2002    1      1
395      496      0  2006    1      1
396      498      0  2005    1      1
397      499      0  1980    1      1
398      476      0  1989    1      1
399      495      0  1979    1      1
400      497      0  2008    1      1

In [243]:
all_date=pd.concat([type1,type2_to_keep,type3_to_keep,type6_to_keep,type7_to_keep])
all_date['date']=pd.to_datetime(all_date['day'].apply(str)+'/'+all_date['month'].apply(str)+'/'+all_date['year'].apply(str))
all_date=all_date.sort_values(by='date')
all_date

     day  level_0  match month  year       date
67    18       84      0     5  1971 1971-05-18
2      8        2      0     7  1971 1971-08-07
9     10        9      0     4  1971 1971-10-04
44    11       53      0     7  1971 1971-11-07
24    12       28      0     9  1971 1971-12-09
375    1      474      0     1  1972 1972-01-01
28   13       153      0     1  1972 1972-01-13
13    26       13      0     1  1972 1972-01-26
46   04       171      0    10  1972 1972-04-10
77    13       98      0     5  1972 1972-05-13
4    06       129      0     5  1972 1972-06-05
31    15      225      0     6  1972 1972-06-15
26    20       31      0     7  1972 1972-07-20
87    10      111      0     6  1972 1972-10-06
66   30       191      0    11  1972 1972-11-30
386    1      486      0     1  1973 1973-01-01
176    1      335      0     2  1973 1973-01-02
97     1      415      0     2  1973 1973-01-02
164    1      323      0     3  1973 1973-01-03
87     1      405      0    03  1973 1973-01-03
104    1      422      0     4  1973 1973-01-04
57     1      375      0    06  1973 1973-01-06
62     1      380      0     7  1973 1973-01-07
27     1      345      0    10  1973 1973-01-10
47    01       57      0    12  1973 1973-01-12
30    14       36      0     2  1973 1973-02-14
381    1      481      0     1  1974 1974-01-01
118    1      436      0     2  1974 1974-01-02
140    1      299      0     3  1974 1974-01-03
84     1      402      0     4  1974 1974-01-04
..   ...      ...    ...   ...   ...        ...
84     1      243      0     9  2012 2012-01-09
161    1      320      0    11  2012 2012-01-11
65     1      383      0    12  2012 2012-01-12
26    25      220      0     6  2012 2012-06-25
14   21       139      0    10  2012 2012-10-21
105   12       34      0     5  2012 2012-12-05
85     1      244      0     1  2013 2013-01-01
380    1      480      0     1  2013 2013-01-01
127    1      286      0     1  2013 2013-01-01
113    1      431      0     4  2013 2013-01-04
120    1      279      0     9  2013 2013-01-09
4     11      198      0    10  2013 2013-11-10
364    1      463      0     1  2014 2014-01-01
63     1      381      0     1  2014 2014-01-01
48     1      366      0     7  2014 2014-01-07
96     1      255      0    10  2014 2014-01-10
121    1      439      0    10  2014 2014-01-10
83     1      401      0    12  2014 2014-01-12
376    1      475      0     1  2015 2015-01-01
98     1      257      0     9  2015 2015-01-09
76     1      235      0    10  2015 2015-01-10
27   28       152      0     9  2015 2015-09-28
365    1      464      0     1  2016 2016-01-01
94     1      253      0     2  2016 2016-01-02
109    1      427      0     5  2016 2016-01-05
72     1      231      0     5  2016 2016-01-05
95     1      413      0    11  2016 2016-01-11
16   30       141      0     5  2016 2016-05-30
61   13       186      0    10  2016 2016-10-13
36   19       161      0    10  2016 2016-10-19

[500 rows x 6 columns]

In [244]:
s = type1.level_0.values.tolist()+type2.level_0.values.tolist()+type3_to_keep.level_0.values.tolist()+type6_to_keep.level_0.values.tolist()+type7_to_keep.level_0.values.tolist()
len(s)

500

In [246]:
orders=[]
for i in range(500):
    orders.append(i)
all_date['order']=orders
all_date['order']=all_date['order'].apply(lambda x: x+1)
all_date=all_date.sort_values(by='level_0').set_index('level_0')
all_date

        day  match month  year       date  order
level_0
0        25      0    03  1993 1993-03-25    276
1        18      0     6  1985 1985-06-18    173
2         8      0     7  1971 1971-08-07      2
3        27      0     9  1975 1975-09-27     57
4         6      0     2  1996 1996-06-02    316
5        06      0     7  1979 1979-06-07    104
6        18      0     5  1978 1978-05-18     93
7        24      0    10  1989 1989-10-24    229
8         7      0     3  1986 1986-07-03    189
9        10      0     4  1971 1971-10-04      3
10       11      0     5  1985 1985-11-05    177
11       09      0     4  1975 1975-09-04     56
12       01      0     8  1998 1998-01-08    330
13       26      0     1  1972 1972-01-26      8
14       24      0     5  1990 1990-05-24    238
15       25      0     1  2011 2011-01-25    463
16       12      0     4  1982 1982-12-04    142
17       13      0    10  1976 1976-10-13     68
18       24      0     4  1998 1998-04-24    335
19       21      0     5  1977 1977-05-21     78
20       21      0     7  1998 1998-07-21    337
21       21      0    10  1979 1979-10-21    106
22       03      0     3  1990 1990-03-03    236
23       11      0     2  1976 1976-11-02     69
24       25      0    07  1984 1984-07-25    163
25       13      0     4  1982 1982-04-13    134
26       22      0     9  1989 1989-09-22    228
27       02      0     9  1976 1976-02-09     65
28       12      0     9  1971 1971-12-09      5
29       24      0    10  1986 1986-10-24    193
...      ..    ...   ...   ...        ...    ...
470       1      0     1  1983 1983-01-01    143
471       1      0     1  1999 1999-01-01    340
472       1      0     1  2010 2010-01-01    447
473       1      0     1  1975 1975-01-01     46
474       1      0     1  1972 1972-01-01      6
475       1      0     1  2015 2015-01-01    489
476       1      0     1  1989 1989-01-01    215
477       1      0     1  1994 1994-01-01    280
478       1      0     1  1993 1993-01-01    270
479       1      0     1  1996 1996-01-01    311
480       1      0     1  2013 2013-01-01    478
481       1      0     1  1974 1974-01-01     27
482       1      0     1  1990 1990-01-01    231
483       1      0     1  1995 1995-01-01    294
484       1      0     1  2004 2004-01-01    388
485       1      0     1  1987 1987-01-01    196
486       1      0     1  1973 1973-01-01     16
487       1      0     1  1992 1992-01-01    256
488       1      0     1  1977 1977-01-01     71
489       1      0     1  1985 1985-01-01    165
490       1      0     1  2007 2007-01-01    419
491       1      0     1  2009 2009-01-01    440
492       1      0     1  1986 1986-01-01    178
493       1      0     1  1978 1978-01-01     82
494       1      0     1  2002 2002-01-01    373
495       1      0     1  1979 1979-01-01     97
496       1      0     1  2006 2006-01-01    409
497       1      0     1  2008 2008-01-01    431
498       1      0     1  2005 2005-01-01    403
499       1      0     1  1980 1980-01-01    107

[500 rows x 6 columns]

In [250]:
answer=pd.Series(all_date['order'],dtype='int')
answer

level_0
0      276
1      173
2        2
3       57
4      316
5      104
6       93
7      229
8      189
9        3
10     177
11      56
12     330
13       8
14     238
15     463
16     142
17      68
18     335
19      78
20     337
21     106
22     236
23      69
24     163
25     134
26     228
27      65
28       5
29     193
      ...
470    143
471    340
472    447
473     46
474      6
475    489
476    215
477    280
478    270
479    311
480    478
481     27
482    231
483    294
484    388
485    196
486     16
487    256
488     71
489    165
490    419
491    440
492    178
493     82
494    373
495     97
496    409
497    431
498    403
499    107
Name: order, Length: 500, dtype: int64

In [257]:
#def date_sorter():
#    import pandas as pd
#    import numpy as np
#    doc = []
#    with open('dates.txt') as file:
#        for line in file:
#            doc.append(line)
#    df = pd.Series(doc)
#    
#    dataframe=pd.DataFrame(df,columns=['text'])
#    type1_1=dataframe['text'].str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{2})\b')
#    type1_2=dataframe['text'].str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{4})\b')
#    type1=pd.concat([type1_1,type1_2])
#    type1.reset_index(inplace=True)
#    type1_index=type1['level_0']
#    type1.columns=['level_0','match','month','day','year']
#    type1['year']=type1['year'].apply(str)
#    type1['year']=type1['year'].apply(lambda x: '19'+x if len(x)<=2 else x)
#    
#    type2=dataframe['text'].str.extractall(r'((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.]* )(\d{1,2})[?:, -]*(\d{4})')
#    type2.reset_index(inplace=True)
#    type2_index=type2['level_0']
#    type2_index_to_keep=[]
#    for index in type2_index:
#        if index not in type1_index:
#            type2_index_to_keep.append(index)
#    type2_to_keep=type2[type2['level_0'].isin(type2_index_to_keep)]
#    type2_to_keep.columns=['level_0','match','month','day','year']
#    type2_to_keep['month']=type2_to_keep.month.apply(lambda x: x[:3])
#    type2_to_keep['month']=pd.to_datetime(type2_to_keep.month, format='%b').dt.month
#    type2_to_keep
#    
#    type3=dataframe['text'].str.extractall(r'((?:\d{1,2} ))?((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[?:, -]* )(\d{4})')
#    type3.reset_index(inplace=True)
#    type3_index=type3['level_0']
#    type3_index_to_keep=[]
#    for index in type3_index:
#        if (index not in type2_index_to_keep) and (index not in type1_index):
#            type3_index_to_keep.append(index)
#    type3_to_keep=type3[type3['level_0'].isin(type3_index_to_keep)]
#    type3_to_keep.columns=['level_0','match','day','month','year']
#    type3_to_keep['day']=type3_to_keep['day'].fillna(1)
#    type3_to_keep['month']=type3_to_keep.month.apply(lambda x: x[:3])
#    type3_to_keep['month']=pd.to_datetime(type3_to_keep.month, format='%b').dt.month
#    
#    type6=dataframe['text'].str.extractall(r'(\d{1,2})[/](\d{4})')
#    type6.reset_index(inplace=True)
#    type6_index=type6['level_0']
#    type6_index_to_keep=[]
#    for index in type6_index:
#        if (index not in type1_index) and (index not in type2_index_to_keep) and (index not in type3_index_to_keep):
#            type6_index_to_keep.append(index)
#    type6_to_keep=type6[type6['level_0'].isin(type6_index_to_keep)]
#    type6_to_keep.columns=['level_0','match','month','year']
#    type6_to_keep['day']=1
#    
#    type7_1=dataframe['text'].str.extractall(r'[a-z]?[^0-9](\d{4})[^0-9]')
#    type7_2=dataframe['text'].str.extractall(r'^(\d{4})[^0-9]')
#    type7=pd.concat([type7_1,type7_2])
#    type7.reset_index(inplace=True)
#    type7_index=type7['level_0']
#    type7_index_to_keep=[]
#    for index in type7_index:
#        if (index not in type1_index) and (index not in type2_index_to_keep) and (index not in type3_index_to_keep) and (index not in type6_index_to_keep):
#            type7_index_to_keep.append(index)
#    type7_to_keep=type7[type7['level_0'].isin(type7_index_to_keep)]
#    type7_to_keep.columns=['level_0','match','year']
#    type7_to_keep['day']=1
#    type7_to_keep['month']=1
#    
#    all_date=pd.concat([type1,type2_to_keep,type3_to_keep,type6_to_keep,type7_to_keep])
#    all_date['date']=pd.to_datetime(all_date['day'].apply(str)+'/'+all_date['month'].apply(str)+'/'+all_date['year'].apply(str))
    #all_date=all_date.sort_values(by='date')
    
    #orders=[]
    #for i in range(500):
        #orders.append(i)
    #all_date['order']=orders
    #all_date['order']=all_date['order'].apply(lambda x: x+1)
#    all_date=all_date.sort_values(by='level_0').set_index('level_0')
#    date = all_date['date']
#    answer = pd.Series([i[0] for i in sorted(enumerate(date), key=lambda x:x[1])],np.arange(500))
    #answer=pd.Series(all_date['order'],dtype='int')
#    return answer
#date_sorter()

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0       84
1        2
2        9
3       53
4       28
5      474
6      153
7       13
8      171
9       98
10     129
11     225
12      31
13     111
14     191
15     486
16     335
17     415
18     323
19     405
20     422
21     375
22     380
23     345
24      57
25      36
26     481
27     436
28     299
29     402
      ...
470    243
471    320
472    383
473    220
474    139
475     34
476    244
477    286
478    480
479    431
480    279
481    198
482    381
483    463
484    366
485    255
486    439
487    401
488    475
489    257
490    235
491    152
492    464
493    253
494    231
495    427
496    413
497    141
498    186
499    161
Length: 500, dtype: int64

In [ ]:
def date_sorter():
    import numpy as np
## (1) 04/20/2009; 04/20/09; 4/20/09; 4/3/09
    a1_1 =df.str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{2})\b')
    a1_2 =df.str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{4})\b')
    a1 = pd.concat([a1_1,a1_2])
    a1.reset_index(inplace=True)
    a1_index = a1['level_0']

## (2)Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
    a2 = df.str.extractall(r'((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.]* )((?:\d{1,2}[?:, -]*)\d{4})')
    a2.reset_index(inplace=True)
    a2_index = a2['level_0']
    
## (3) 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
## (5) Feb 2009; Sep 2009; Oct 2010
    a3 = df.str.extractall(r'((?:\d{1,2} ))?((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[?:, -]* )(\d{4})')
    a3.reset_index(inplace=True)
    a3_index = a3['level_0']

    ## (4) Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
#    a4 = df.str.extractall(r'((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z] )((?:\d{1,2}(?:st|nd|rd|th), )\d{4})')
#    a4.reset_index(inplace=True)
#    a4_index = a4['level_0']

    ## (6) 6/2008; 12/2009
    a6 = df.str.extractall(r'(\d{1,2})[/](\d{4})')
    a6.reset_index(inplace=True)
    a6_index = a6['level_0']
    save=[]
    for i in a6_index:
        if not(i in a1_index.values):
            save.append(i)
    save = np.asarray(save)
    a6 = a6[a6['level_0'].isin(save)]

    ## (7) 2009; 2010
    a7_1= df.str.extractall(r'[a-z]?[^0-9](\d{4})[^0-9]')
    a7_2 = df.str.extractall(r'^(\d{4})[^0-9]')
    a7 = pd.concat([a7_1,a7_2])
    a7.reset_index(inplace=True)

    a7_index = a7['level_0']
    save=[]
    for i in a7_index:
        if not((i in a2_index.values) | (i in a3_index.values) | (i in a6_index.values)):
            save.append(i)
    save = np.asarray(save)
    a7 = a7[a7['level_0'].isin(save)]
    
    s = a1.level_0.values.tolist()+a2.level_0.values.tolist()+a3.level_0.values.tolist()+a6.level_0.values.tolist()+a7.level_0.values.tolist()
    s = np.asarray(s)
#    print(diff(np.arange(500),s))
    
    a1.columns=['level_0','match','month','day','year']
    a1['year']=a1['year'].apply(str)
    a1['year']=a1['year'].apply(lambda x: '19'+x if len(x)<=2 else x)
   
    a2[1] = a2[1].apply(lambda x: x.replace(',',''))
    a2['day'] = a2[1].apply(lambda x:x.split(' ')[0])
    a2['year'] = a2[1].apply(lambda x:x.split(' ')[1])
    a2.columns=['level_0','match','month','day-year','day','year']
    a2.drop('day-year',axis=1,inplace=True) 
    
    a3.columns=['level_0','match','day','month','year']
    a3['day'] = a3['day'].replace(np.nan,-99)
    a3['day'] = a3['day'].apply(lambda x: 1 if int(x)==-99 else x)

    a3['month'] = a3.month.apply(lambda x: x[:3])
    a3['month'] = pd.to_datetime(a3.month, format='%b').dt.month
    
    a6.columns=['level_0','match','month','year']
    a6['day']=1
  
    a7.columns=['level_0','match','year']
    a7['day']=1
    a7['month']=1
   
    final = pd.concat([a1,a2,a3,a6,a7])
    final['date'] =pd.to_datetime(final['month'].apply(str)+'/'+final['day'].apply(str)+'/'+final['year'].apply(str))
    final = final.sort_values(by='level_0').set_index('level_0')

    myList = final['date']
    answer = pd.Series([i[0] for i in sorted(enumerate(myList), key=lambda x:x[1])],np.arange(500))
#    answer = pd.DataFrame([i[0] for i in sorted(enumerate(myList), key=lambda x:x[1])],np.arange(500)).reset_index()
#    answer.columns=['order','level_0']

#    answer= pd.DataFrame(final['date'].rank(ascending=1,method='first')).sort_values(by='date').reset_index()
#    answer.columns=['level_0','order']
#    answer['order']=answer['order']+1
    
#    final.reset_index(inplace=True)
#    real_final = pd.merge(final,answer,left_on='level_0',right_on='level_0',how='outer')
#    return real_final.order
    return answer